h1{
    color:red;
}

h6{
    color:blueviolet;
}

span{
    background-color: green;
    color:white;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul li:before {
	content: "😎";
    
}