h1{
    color:orangered;
}

.main-header__item a {
    text-decoration: none;
    color: blue;
  }
  
.main-header__item a.active{
    color: #ffeb3b;
    text-decoration: underline;
}

i{
    background-color: greenyellow;
    color:purple;
    font-weight: 200;
    border-radius: 20%;
}

.rest{
    float:right
}

form#DiemDanh{
    width:50%;
}